{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>About QwikGas</title>

{% endblock title %}

{% block content %}
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-dark-green">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">About Us</h1>
                                        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                                          <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                          </ol>
                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Solving clean energy poverty among the under-served in emerging markets.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Get clean energy trade credit to power your business.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Got no cylinder? No worries. QwikGas has got you covered.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Opening a new restaurant outlet? QwikGas goes with you, so you can focus on things that matter.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Enjoy the true VIP treatment you deserve. No subscription, no hidden fees.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">#1 B2B Cookstove-as-a-Service brand.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-10">
                                    <p>Energy poverty is prevalent in emerging markets where over 2.8 billion people still cook with dirty fuels. QwikGas® is solving energy poverty among the underserved in emerging markets via our pioneering B2B cookstove-as-a-service (CsaaS) using technology. Our qwikgas.ai WebApp fulfils on-demand clean energy fuel ordering. We utilized AI technology for the common goods for anticipatory energy delivery to businesses and track customers credit worthiness rating. QwikGas<sup>®</sup> is a cleantech brand with embedded finance and an AI-first operations.</p>
                                    <p>Our embedded finance play allows us to support businesses with flexible payment options for clean energy utilization, which include pay small small (instalment payment) and paylater (buy, use, make money, and then pay), as low earnings deter many businesses from using liquefied petroleum gas (LPG). Hence, we make money by ensuring our clients are empowered to make money.</p>
                                    <p>With our AI-first approach, QwikGas® is positioned to be a data-driven cleantech company. QwikGas® allows businesses to track their clean energy use and monitor their expenses on clean fuel. End-users clean cooking data are generally scarce, QwikGas® seeks to make this a thing of the past.</p>
                                    <p>QwikGas® pioneering cookstove-as-a-service (CsaaS) makes it easy for businsses to cook with clean fuel with no need for prior investment in cookstove hardware and accessories. With our cookstove-as-a-service (CsaaS), QwikGas® removes the initial cost of owning a cylinder, which is identified as major reason for non-adoption of LPG. QwikGas® as a brand equally help solve challenges of incessant fire outbreak at retail due to decanting and other illegal and unsafe practices. Our customers are given access to quality and clean LPG cylinders at no added cost.</p>
                                    <p class="mb-0">QwikGas® is the go-to brand for owners and operators of canteens, restaurants, eateries, bakeries, caterers, shawarma and Mai tea joints, home parties and events, ‘Owambes’, boarding schools and other large cooking needs.</p>
                                    <br>
                                    <div class="card bg-light-green shadow-none">
                                        <div class="card-body">
                                            <h6>Vision</h6>
                                            <ul class="mb-0">
                                                <li class="text-italic">To entrench sustainable and healthy cooking in emerging markets through the use of clean energy sources and technology integration.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card bg-light-green shadow-none">
                                        <div class="card-body">
                                            <h6>Mission</h6>
                                            <ul class="mb-0">
                                                <li class="text-italic">To provide affordability and accessibility for the use of clean energy via cookstove-as-a-service (CsaaS) for the mass market through our technology-driven operations.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <hr class="my-5" />
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-dark-green text-white me-2"><i data-feather="arrow-right"></i></div>
                                        QwikServices
                                    </h4>
                                    <ul class="mb-0">
                                        <li>Cost-free cylinder loaning</li>
                                        <li>Rent-to-own commercial gas burner</li>
                                        <li>Rent-to-use commercial gas burner</li>
                                        <li>Free repair and servicing</li>
                                        <li>Free and fast delivery (Scheduled delivery available)</li>
                                        <li>Flexible Payment</li>
                                        <p class="mb-0">- Pay small small (Installment payment)</p>
                                        <p>- PayLater – buy, use, make money, and then pay</p>
                                    </ul>

                                    <hr class="my-5" />
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-dark-green text-white me-2"><i data-feather="arrow-right"></i></div>
                                        More freebies for your business
                                    </h4>
                                    <ul class="mb-0">
                                        <li><strong>QwikFirst</strong> – <i>Discount on first purchase</i></li>
                                        <li><strong>QwikReferral</strong> – <i>Referral discount (for both the referee and the referrer)</i></li>
                                        <li><strong>QwikPoint</strong> – <i>Loyalty discount</i></li>
                                        <li><strong>QwikSupport</strong> – <i>Via multi-channels engagement</i></li>
                                    </ul>

                                    <hr class="my-5" />
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-dark-green text-white me-2"><i data-feather="arrow-right"></i></div>
                                        QwikCulture
                                    </h4>
                                    <ul class="mb-0">
                                        <li>Dedication</li>
                                        <li>Transparency</li>
                                        <li>Team first</li>
                                        <li>Result-oriented</li>
                                        <li>Customercentric</li>
                                        <li>Honesty</li>
                                        <li>Respect</li>
                                    </ul>

                                    <hr class="my-5" />
                                    <h4 class="mb-4">
                                        <div class="icon-stack bg-dark-green text-white me-2"><i data-feather="arrow-right"></i></div>
                                        QwikImpacts
                                    </h4>

                                    <div class="row text-center">
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/card.png' %}" />
                                        <p class="mb-0">₦26,576,850.00</p>
                                        <p class="mb-0">Million+</p>
                                        <p class="mb-0">Trade credit given</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/location.png' %}" />
                                        <p class="mb-0">8</p>
                                        <p class="mb-0">Number of LGA</p>
                                        <p>Qwikgas is available</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/women.png' %}" />
                                        <p class="mb-0">180+</p>
                                        <p class="mb-0">Women-owned</p>
                                        <p>businesses supported</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/500.png' %}" />
                                        <p class="mb-0">700+</p>
                                        <p class="mb-0">saved from injury/death</p>
                                        <p>resulting from dirty fuels</p>
                                      </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="row text-center">
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/wood.png' %}" />
                                        <p class="mb-0">520,000 kg+</p>
                                        <p>forest wood saved</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/area.png' %}" />
                                        <p class="mb-0">26,000 m<sup>2</sup>+</p>
                                        <p>forest area saved</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/sold.png' %}" />
                                        <p class="mb-0">55,512.5 kg LPG sold</p>
                                      </div>
                                      <div class="col-md-3">
                                        <img class="img-impact" src="{% static 'img/b2b.png' %}" />
                                        <p class="mb-0">250+ paying</p>
                                        <p class="mb-0">20% referred</p>
                                        <p class="mb-0">100% returning</p>
                                        <p>400+ on wait list</p>
                                      </div>
                                    </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-lemon-green">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
{% endblock content%}
