{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
  <title>Contact QwikGas</title>

{% endblock title %}

{% block content %}

                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-dark-green">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Contact Us</h1>
                                        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                                          <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                          </ol>
                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Solving clean energy poverty among the under-served in emerging markets.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Get clean energy trade credit to power your business.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Got no cylinder? No worries. QwikGas has got you covered.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Opening a new restaurant outlet? QwikGas goes with you, so you can focus on things that matter.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Enjoy the true VIP treatment you deserve. No subscription, no hidden fees.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">#1 B2B Cookstove-as-a-Service brand.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <br>
                    {% include 'partials/_alerts.html' %}
                    <br>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 mb-5">
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-cylinder lift text-center o-visible h-100" href="#!">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-lemon-green text-dark-green mb-4 mt-n5 z-1 shadow"><i data-feather="user"></i></div>
                                            <h5>Mainland 1</h5>
                                            <p class="card-text">Oshodi-Isolo, Ikeja, Agege, Ilupeju, Mushin, Surulere</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-dark-green fw-bold d-inline-flex align-items-center">
                                                 08179366466
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-cylinder lift text-center o-visible h-100" href="#!">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-lemon-green text-dark-green mb-4 mt-n5 z-1 shadow"><i data-feather="user"></i></div>
                                            <h5>Mainland 2</h5>
                                            <p class="card-text">Ketu, Ikosi,  Alapere, Magodo, Maryland, Mile 12, Oregun, Ogudu, Ajelogo, Agboyi</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-dark-green fw-bold d-inline-flex align-items-center">
                                                08179366488
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 mb-5">
                                    <a class="card card-link border-bottom-0 border-start-0 border-end-0 border-top-lg border-cylinder lift text-center o-visible h-100" href="#!">
                                        <div class="card-body">
                                            <div class="icon-stack icon-stack-xl bg-lemon-green text-dark-green mb-4 mt-n5 z-1 shadow"><i data-feather="user"></i></div>
                                            <h5>Island</h5>
                                            <p class="card-text">Lagos Island, Obalende, Ikoyi, Victoria Island, Lekki</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-dark-green fw-bold d-inline-flex align-items-center">
                                                08179366499
                                                <i class="fas fa-arrow-right text-xs ms-1"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <section>

                            </section>
                            <h1 class="text-dark-green text-center">Frequently Asked Questions</h1>
                            <br>
                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <span class="text-dark-green h2">Do I need a cylinder to make online order from QwikGas?</span>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                    No. You do not need to have a cylinder to order any of your desired QwikGas packages.
                                      QwikGas provides you with cost-free, clean, safe, and premium quality cylinder in
                                      excellent condition. Hence, you can seamlessly enjoy cooking with gas with no worries
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      <span class="text-dark-green h2">How many cylinders can I order at a time?</span>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body">
                                    QwikGas allows you to order cooking gas up to ten (10) 12.5 kg cylinders or its
                                    equivalence at a time, after KYC (Know Your Customer) has been completed
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      <span class="text-dark-green h2">Can I order for QwikGas less than 12.5 kg?</span>
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-body">
                                    No. At present, QwikGas only comes in 12.5 kg, 25 kg and 50 kg cylinders
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="card">
                              <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="text-dark-green h2">How can I make payment for my QwikGas order?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                  You can pay using your credit/debit cards (including Masters card, Visa card, Verve
                                    card), USSD and bank transfer through the QwikGas checkout and partner payment
                                    gateway
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="text-dark-green h2">Can I pay for my QwikGas order on delivery?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                  Yes. You can make payment when your QwikGas order is being delivered
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span class="text-dark-green h2">How long will it take for my QwikGas order to be fulfilled?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                  Our QwikAdvantage ensures that you get your QwikGas order delivered to your chosen
                                    location within 40 minute max
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <span class="text-dark-green h2">Can I keep the QwikGas cylinder with myself?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                <div class="card-body">
                                  No. The QwikGas cylinders are the sole property of QwikGas. You are not allowed to
                                    keep the QwikGas cylinder(s) with yourself. Ensure you return the QwikGas cylinder(s)
                                    via our QwikPartner as soon as you exhaust the LPG content which you have only paid
                                    for
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <span class="text-dark-green h2">How long am I allowed to keep the QwikGas cylinder?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body">
                                  You are only allowed to be in possession of the QwikGas cylinder(s) for the sole purpose
                                    of utilizing the prefilled cooking gas (LPG) content. Immediately return the QwikGas
                                    cylinder(s) after the cooking gas content has been utilized. The QwikGas cylinder(s)
                                    is/are to be returned not more than 15 days from the date of purchase
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <span class="text-dark-green h2">How can I return the QwikGas cylinder?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body">
                                  You can return the QwikGas cylinder(s) via our QwikPartner or contact our sales phone
                                    numbers or email us at support@qwikgas.ai
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <span class="text-dark-green h2">Can I order QwikGas for a different location other than my registered address?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                <div class="card-body">
                                  Yes. You can order QwikGas to any location of your choice, this is the QwikAdvantage.
                                    However, note that it is your sole responsibility to ensure that the QwikGas Terms of Use
                                    are complied with
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingEleven">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <span class="text-dark-green h2">Do I need to return the cylinder(s) which cooking gas content has been
                                      exhausted before making new order?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                <div class="card-body">
                                  No. You are allowed to make QwikGas order of up to ten (10) of 12.5 kg cylinders (or its
                                    equivalence) and be in custody of same, subject to the QwikGas Terms of Use, at a
                                    particular time. However, you are not allowed to order or be in custody of more than ten
                                    (10) 12.5 kg cylinders (or its equivalence), at a particular time
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwelve">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    <span class="text-dark-green h2">Can I order QwikGas as a household user?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                                <div class="card-body">
                                  Household users should visit www.households.qwikgas.ai to order QwikGas and enjoy
                                    the QwikAdvantage for a sumptuous meal to delight the family
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThirteen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                    <span class="text-dark-green h2">Where can I get QwikGas?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                                <div class="card-body">
                                  QwikGas is presently delivered to any of the below listed locations and environs:<br>
                                    Mainland 1 [Oshodi-Isolo, Ikeja, Agege, Ilupeju, Mushin, Surulere, Ojuelegba].<br>
                                    Mainland 2 [Gbagada, Ketu, Ikosi, Alapere, Magodo, Maryland, Mile 12, Oregun,
                                    Ogudu, Ajelogo, Agboyi].<br>
                                    Island [Lagos Island, Obalende, Ikoyi, Victoria Island, Lekki]
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingFourteen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    <span class="text-dark-green h2">Can I order QwikGas on Sunday and public holidays?</span>
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                                <div class="card-body">
                                  The QwikAdvantage ensures you do not run out of gas either on a Sunday or on a public
                                    holiday including the festive periods. Pre-order your QwikGas and schedule your
                                    delivery for a Sunday or a public holiday. Only scheduled deliveries are fulfilled on a
                                    Sunday or a public holiday
                                </div>
                              </div>
                            </div>
                          </div>

                            <hr class="my-10" />
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8 text-center">
                                    <h2>Can't find the answer you need?</h2>
                                    <p class="lead mb-5">Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with QwikGas.</p>
                                </div>
                            </div>
                            <div class="row gx-5 align-items-center mb-10">
                                <div class="col-lg-4 text-center mb-5 mb-lg-0">

                                </div>
                                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                                  <div class="section-preheading">Email Us</div>
                                  <a href=""><span class="text-dark-green">support@qwikgas.ai</span></a>
                                </div>
                                <div class="col-lg-4 text-center">

                                </div>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="row gx-5 mb-4">
                                  <div class="col-md-6">
                                    {{ form.name|as_crispy_field }}
                                  </div>
                                  <div class="col-md-6">
                                    {{ form.email|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="row gx-5 mb-4">
                                  <div class="col-md-12">
                                    {{ form.phone_number|as_crispy_field }}
                                  </div>
                                </div>
                                <div class="mb-4">
                                  {{ form.message|as_crispy_field }}
                                </div>
                                <div class="text-center"><input type="submit" value="Submit Request" class="btn btn-cylinder btn-block"></div>
                            </form>
                        </div>
                    </section>
{% endblock content %}
