{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>QwikGas Gallery</title>

{% endblock title %}

{% block content %}
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-dark-green">
                        <div class="page-header-ui-content pt-10">
                            <div class="container px-5 text-center">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-ui-title mb-3">Our Work</h1>
                                        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                                          <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                          </ol>
                                          <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Solving clean energy poverty among the under-served in emerging markets.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Get clean energy trade credit to power your business.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Got no cylinder? No worries. QwikGas has got you covered.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Opening a new restaurant outlet? QwikGas goes with you, so you can focus on things that matter.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">Enjoy the true VIP treatment you deserve. No subscription, no hidden fees.</p>
                                              </div>
                                            </div>
                                            <div class="carousel-item">
                                              <div class="carousel-caption-top0">
                                                <p class="page-header-ui-text mb-5">#1 B2B Cookstove-as-a-Service brand.</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>

                    <section class="bg-light pb-10">
                      <div class="row px-5">
                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                              <img class="card-img-top" src="{% static 'img/filling.JPG' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/101.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/79.jpg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/74.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/36.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/41.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/44.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/46.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/50.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/54.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/55.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/64.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/65.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/66.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/67.jpeg' %}" alt="..." />
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/70.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/71.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/91.jpeg' %}" alt="..." />
                            </a>
                        </div>
                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/92.jpeg' %}" alt="..." />
                            </a>
                        </div>

                        <div class="col-md-6 col-xl-4 mb-5">
                            <a class="card card-portfolio h-100" href="#!">
                                <img class="card-img-top" src="{% static 'img/95.jpeg' %}" alt="..." />
                            </a>
                        </div>

                      </div>
                    </section>

{% endblock content%}
