{% extends 'board_vendor.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Update Cylinder Status</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-wallet text-dark-green mr-2 fa-1x"></i>Welcome to the cylinder status update page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikvendor_board' %}"><strong>Dashboard</strong></a></li>
        <li class="breadcrumb-item"><a href="{% url 'products:qwikvendor_cylinders' %}"><strong>Cylinders</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Update Cylinder Status</strong></li>
			</ol>
		</div>
		<!--page header-->
    <div class="row">
      <div class="col-md-12 col-xl-12 col-lg-12">
      <div class="card">
        <form method="post" class="form-group col-lg-12 text-dark-green" enctype="multipart/form-data">
          <div class="card-header bg-cylinder">
            <h4 class="text-white">
              <i class="fas fa-clock"></i> Update Cylinder Status</h4>
          </div>
          <br>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-sm-12 mb-2">
                {{ form.vendor_product_status|as_crispy_field }}
            </div>
        </div>
        <input type="submit" class="form-group col-md-12 btn btn-cylinder" value="OK">
      </form>
      </div>
      </div>
    </div>






{% endblock content%}
