{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Cylinders Tracking</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-clock text-dark-green mr-2 fa-1x"></i>Welcome to cylinders' tracking page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikcust_board' %}"><strong>Dashboard</strong></a></li>
        <li class="breadcrumb-item"><a href=""><strong>Cylinders</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Cylinder Tracking</strong></li>
			</ol>
		</div>
		<!--page header-->
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="row mb-0">
              <div class="col-md-5">
                <div class="dash3 mb-0">
                  <div class="chart-circle  chart-circle-md mt-4 mt-sm-0 mb-0" data-value="{{returned_empty_to_qwikpartner}}" data-thickness="6" data-color="#007541">
                    <div class="chart-circle-value text-center ">{{perc_returned_empty_to_qwikpartners}}%</div>
                  </div>
                </div>
              </div>
              <div class="col-md-7  mt-4 mt-sm-0">
                <h6 class="media-heading fw-500"></h6>
                <h1 class="counter num-font mb-0 text-cylinder">{{returned_empty_to_qwikpartners}}</h1>
                <p class="text-muted mb-0">Returned Empty to QwikPartner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="row mb-0">
              <div class="col-md-5">
                <div class="dash3 mb-0">
                  <div class="chart-circle  chart-circle-md mt-4 mt-sm-0 mb-0" data-value="{{received_filled}}" data-thickness="6" data-color="#007541">
                    <div class="chart-circle-value text-center ">{{perc_received_filleds}}%</div>
                  </div>
                </div>
              </div>
              <div class="col-md-7  mt-4 mt-sm-0">
                <h6 class="media-heading fw-500"></h6>
                <h1 class="counter num-font mb-0 text-cylinder">{{received_filleds}}</h1>
                <p class="text-muted mb-0">Received Filled (Anticipatory)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="row mb-0">
              <div class="col-md-5">
                <div class="dash3 mb-0">
                  <div class="chart-circle  chart-circle-md mt-4 mt-sm-0 mb-0" data-value="{{received_filled_user}}" data-thickness="6" data-color="#007541">
                    <div class="chart-circle-value text-center ">{{perc_received_filleds_users}}%</div>
                  </div>
                </div>
              </div>
              <div class="col-md-7  mt-4 mt-sm-0">
                <h6 class="media-heading fw-500"></h6>
                <h1 class="counter num-font mb-0 text-cylinder">{{received_filleds_users}}</h1>
                <p class="text-muted mb-0">Received Filled</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-white">
          <div class="card-title text-dark-green">Received Filled (Anticipatory)</div>
        </div>
        <div class="card-body">
          <div class="text-center">
            {% if total_cylinders > 1 %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total: {{total_cylinders}}</h3>
              </div>
              {% else %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total: {{total_cylinders}}</h3>
              </div>
              {% endif %}
          </div>

          <div class="table-responsive ">
            <table class="table card-table table-vcenter text-nowrap">
              <thead class="text-dark-green">
                <tr>
                  <th>Date & Time</th>
                  <th>Product Type (OLD)</th>
                  <th>Product Type (NEW)</th>
                  <th>Cylinder ID (OLD)</th>
                  <th>Cylinder Alloted</th>
                </tr>
              </thead>
              <tbody class="">
                {% for product in cylinders_page_obj %}
                <tr class="">
                  <td>{{product.created}}</td>
                  <td>{{product.category}}</td>
                  <td>{% for product in product.cylinder.all %}{{product.category.type}}<br>{% endfor %}</td>
                  <td>{{product.product_Id}}</td>
                  <td>{% for product in product.cylinder.all %}{{product.product_Id}}<br>{% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if cylinders_page_obj.has_previous %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url cylinders_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{cylinders_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="bg-dark-green page-link" href="{% my_url cylinders_page_obj.number 'page' request.GET.urlencode %}">{{cylinders_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if cylinders_page_obj.has_next %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url cylinders_page_obj.next_page_number 'page' request.GET.urlencode %}">{{cylinders_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url cylinders_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}
