{% extends 'board_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Anticipatory Orders</title>
  <style media="screen">
    @page{
      size:"A4";
      margin:2.5cm 1.5cm 3.5cm 1.5cm;
      @top-center{
        content:"Report";
      }
      @bottom-right{
        content:"Page "counter(page) " of " counter(pages);
      }
    }
  </style>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
      <h4 class="page-title"><i class="fa fa-spinner text-dark-green mr-2 fa-1x"></i>Welcome to all customers anticipatory orders' page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikadmin_board' %}"><strong>Dashboard</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Orders</strong></li>
			</ol>
		</div>
		<!--page header-->

    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header bg-white">
            <div class="card-title text-dark-green">Anticipatory Orders' Histories Till Date</div>
          </div>
          <br>
          <div class="text-center">
            <h2 class="form-group text-dark-green">Filter By</h2>
          </div>




          <div class="card-body">
            <div class="text-center">
              {% if total_antiorders > 1 %}
                <div class="form-group col-md-12">
                  <h3 class="form-group text-dark-green">Total Orders: {{total_antiorders}}</h3>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                  <h3 class="form-group text-dark-green">Total Order: {{total_antiorders}}</h3>
                </div>
                {% endif %}
            </div>

            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap">
                <thead>
                  <tr class="text-dark-green">
                    <th>DATE/TIME</th>
                    <th>CUSTOMER</th>
                    <th>ORDER ID</th>
                    <th>OUTLET</th>
                    <th>CYLINDER ID(OLD)</th>
                    <th>PRODUCT TYPE(OLD)</th>
                    <th>PRODUCT TYPE(NEW)</th>
                    <th>OUTLET</th>
                    <th>PRICE (OLD)</th>
                    <th>PRICE (NEW)</th>
                    <th>QUANTITY</th>
                    <th>TOTAL COST(OLD)</th>
                    <th>TOTAL COST(NEW)</th>
                    <th>PAYMENT TYPE</th>
                    <th>PAYMENT CHOICE</th>
                    <th>PAYMENT REFERENCE</th>
                    <th>PAYMENT</th>
                    <th>TRANSACTION STATUS</th>
                    <th>CYLINDER ALLOTED</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in antiorders_page_obj %}
                  <tr class="">
                    <td>{{order.created}}</td>
                    <td>{{order.user}}</td>
                    <td>{{order.order_Id}}</td>
                    <td>{{order.outlet}}</td>
                    <td>{{order.product.product_Id}}</td>
                    <td>{{order.product.category.type}}({{order.product.category.mass}})</td>
                    <td>{% for order in order.cylinder.all %}{{order.category.type}}<br> {% endfor %}</td>
                    <td>{{order.outlet}}</td>
                    <td>₦{{order.static_price|intcomma}}</td>
                    <td>{% for order in order.cylinder.all %}{{order.category.price}}<br> {% endfor %}</td>
                    <td>{{order.quantity}}</td>
                    <td>₦{{order.static_total_cost|intcomma}}</td>
                    <td>₦{{order.static_total_cost2|intcomma}}</td>
                    <td>{{order.payment_type1}}{{order.payment_type2}}{{order.payment_type3}}</td>
                    <td>{{order.payment_choice}}</td>
                    <td>{{order.payment_ref}}</td>
                    <td>{{order.payment1|intcomma}} on {{order.payment1_date}}<br>{{order.payment2}} on {{order.payment2_date}}<br>{{order.payment3}} on {{order.payment3_date}}</td>
                    <td>{{order.transaction}}</td>
                    <td>{% for order in order.cylinder.all %}{{order.product_Id}}<br> {% endfor %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock content%}
