{% extends 'board.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load humanize %}
{% block title %}
  <title>Checkout</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
    {% if order.user == request.user %}
    <div class="row">
      <div class="form-group col-lg-12">
        <a  class="btn btn-outline-success btn-block" href="{% url 'orders:orders' %}">&#x2190; &nbspBack to Orders History</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          <hr>
          <h3 class="text-center text-dark-green">ORDER ID: {{order.order_Id}}</h3>
          <hr>
          {% for order_item in order_items %}
          <div class="cart-row">
            <div style="flex:1"><img class="logo9" src="{{order_item.product.category.imageURL}}"></div>
            <div style="flex:3"><p>{{order_item.product.type}}</p></div>
            <div style="flex:3"><p>₦{{order_item.price|intcomma}}</p></div>
            <div style="flex:2"><p>x {{order_item.quantity}}</p></div>
            <div style="flex:3"><p style="float:right">= ₦{{order_item.get_cost|intcomma}}</p></div>
          </div>
          {% endfor %}
          <h5 style="float:right">Total: ₦{{order.get_total_cost|intcomma}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3">
      <a class="btn btn-dark-green btn-block" href="pay"><strong>Pay From wallet <span class="text-lemon-green">₦{{current_balance|intcomma}}</span></strong></a>
      </div>
      <div class="form-group col-lg-2">
      <a class="btn btn-dark-green btn-block" href=""><strong>Pay with card</strong></a>
      </div>


      <div class="modal fade" id="add2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-dark-green" id="inquiryModalLabel"><i class="fa fa-american-sign-language-interpreting text-dark-green bg-white tx-16 lh-0 op-6"></i> Pay on Delivery</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <br>
                  <form method="post" class="form-group col-lg-12 text-dark-green" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-row">
                      <div class="form-group col-sm-12 mb-2">
                          {{ form|crispy }}
                      </div>
                  </div>
                  <div class="card-footer text-right bg-white">
                    <input type="submit" class="form-group btn btn-cylinder" value="OK">
                  </div>
                </form>
                </div>
            </div>
        </div>
      </div>
      <div class="form-group col-lg-2">
      <button class="btn btn-dark-green col-md-12" data-toggle="modal" data-target="#add2"><strong>Pay on Delivery</strong></button>
      </div>
      <div class="form-group col-lg-2">
        <a href="{% url 'orders:qwikcustomer_pay_later' %}"><button type="button" class="btn btn-dark-green text-white col-md-12"><strong>Paylater</strong></button></a>
      </div>
      <div class="form-group col-lg-3">
        <a href="{% url 'orders:qwikcustomer_pay_small' %}"><button type="button" class="btn btn-dark-green text-white col-md-12"><strong>Pay Small Small</strong></button></a>
      </div>

    </div>
    <br>
    {% else %}
      <h2 class="text-center">Access Restricted</h2>
      <br>
    {% endif %}
  </div>
</div>
{% endblock content%}
