{% extends 'board.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Orders</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h5>{{message}}</h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
  {% endif %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-spinner text-dark-green mr-2 fa-1x"></i>Welcome to your orders' page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikcust_board' %}"><strong>Dashboard</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Orders</strong></li>
			</ol>
		</div>
		<!--page header-->

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-white">
          <div class="card-title text-dark-green">Orders' Histories Till Date</div>
        </div>
        <br>
        <div class="text-center">
          <h2 class="form-group text-dark-green">Filter By</h2>
        </div>

        <div class="col-md-12">
          <div class="box-element bg-dark-green" id="form-wrapper">
            <form method="get" class="form-inline text-white">
              {% for field in filtered_userorders.form %}
                <strong>{{field.label}}:</strong>&nbsp{{field}}&nbsp&nbsp
              {% endfor %}
              <input type="submit" class="btn btn-primary" value="Go">
            </form>
          </div>
        </div>


        <div class="card-body">
          <div class="text-center">
            {% if total_userorders > 1 %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total Orders: {{total_userorders}}</h3>
              </div>
              {% else %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total Order: {{total_userorders}}</h3>
              </div>
              {% endif %}
          </div>

          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>DATE ORDERED</th>
                  <th>ORDER ID</th>
                  <th>TOTAL</th>
                  <th>DELIVERY SCHEDULE</th>
                  <th>PAYMENT TYPE</th>
                  <th>PAYMENT CHOICE</th>
                  <th>PAYMENT STATUS</th>
                  <th>ACCUMULATED POINT</th>
                  <th>OUTLET</th>
                  <th>CHECKOUT</th>
                  <th>INVOICE</th>
                  <th>DELETE</th>
                </tr>
              </thead>
              <tbody>
                {% for order in userorders_page_obj %}
                <tr class="">
                  <td>{{order.created}}</td>
                  <td>{{order.order_Id}}</td>
                  <td>₦{{order.get_total_cost|intcomma}}</td>
                  <td>{{order.schedule_delivery}}</td>
                  {% if order.payment_type == "Later on " %}
                  <td>{{order.payment_type}}{{order.payment_date_later}}</td>
                  {% elif order.payment_type == "Small Small" %}
                  <td>{{order.payment_type}}{{order.payment1_date}}{{order.payment2_date}}</td>
                  {% else %}
                  <td>{{order.payment_type}}</td>
                  {% endif %}
                  <td>{{order.payment_choice}}</td>
                  <td>{{order.payment_status}}</td>
                  <td>{{order.point}}</td>
                  <td>{{order.outlet}}</td>
                  {% if order.payment_status == "Confirmed" %}
                  <td></td>
                  <td class="text-center"><a href="{% url 'orders:show_invoice' order.id %}"><strong><i class="fa fa-receipt mr-1 fa-2x text-dark-green"></i></strong></a></td>
                  {% if order.user_order_status == "Undelivered" %}
                  <td class="text-center"><a href="orders/delete/{{order.id}}"><strong><i class="fa fa-trash mr-1 fa-2x text-dark-green"></i></strong></a></td>
                  {% else %}
                  <td>Delivered</td>
                  {% endif %}
                  {% else %}
                  <td class="text-center"><a href="{% url 'orders:show_order' order.id %}"><strong><i class="fa fa-check-circle mr-1 fa-2x text-dark-green"></i></strong></a></td>
                  <td class="text-center"><a href="{% url 'orders:show_invoice_unpaid' order.id %}"><strong><i class="fa fa-receipt mr-1 fa-2x text-dark-green"></i></strong></a></td>
                  {% if order.user_order_status == "Undelivered" %}
                  <td class="text-center"><a href="orders/delete/{{order.id}}"><strong><i class="fa fa-trash mr-1 fa-2x text-dark-green"></i></strong></a></td>
                  {% else %}
                  <td>Delivered</td>
                  {% endif %}
                  <td></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if userorders_page_obj.has_previous %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url userorders_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{userorders_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="bg-dark-green page-link" href="{% my_url userorders_page_obj.number 'page' request.GET.urlencode %}">{{userorders_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if userorders_page_obj.has_next %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url userorders_page_obj.next_page_number 'page' request.GET.urlencode %}">{{userorders_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url userorders_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}
