{% extends 'board.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Order Items Statuses</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-clock text-dark-green mr-2 fa-1x"></i>Welcome to orders tracking page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikcust_board' %}"><strong>Dashboard</strong></a></li>
        <li class="breadcrumb-item"><a href="{% url 'orders:orders' %}"><strong>Orders</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Stages and Timeline</strong></li>
			</ol>
		</div>
		<!--page header-->

    <div class="row">
			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="card bg-dark-green">
					<div class="card-body  pb-4">
						<div class="">
							<div class="float-left">
								<span class="text-white">
									<i class="fa fa-truck fa-4x"></i>
								</span>
							</div>
							<div class="float-right text-right text-white">
								<br>
                <br>
                <span class="num-font mb-1 counter text-lemon-green h2">{{out}}</span>
								<br>
								<h4 class="mb-1 text-white">Out for Delivery</h4>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="card bg-dark-green">
					<div class="card-body  pb-4">
						<div class="">
							<div class="float-left">
								<span class="text-white">
									<i class="fa fa-thumbs-up fa-4x"></i>
								</span>
							</div>
							<div class="float-right text-right text-white">
								<br>
                <br>
                <span class="num-font mb-1 counter text-lemon-green h2">{{delivered}}</span>
								<br>
								<h4 class="mb-1 text-white">Delivered</h4>

							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-4">
			<div class="card bg-dark-green">
				<div class="card-body  pb-4">
					<div class="">
						<div class="float-left">
							<span class="text-white">
								<i class="fa fa-times fa-4x"></i>
							</span>
						</div>
						<div class="float-right text-right text-white">
							<br>
              <br>
              <span class="num-font mb-1 counter text-lemon-green h2">{{cancelled}}</span>
							<br>
							<h4 class="mb-1 text-white">Cancelled</h4>

						</div>
					</div>
				</div>
			</div>
	</div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title text-dark-green">All Order Tracking Stages and Timeline</div>
        </div>
        <br>
        <div class="text-center">
          <h2 class="form-group text-dark-green">Filter By</h2>
        </div>

        <div class="col-md-12">
          <div class="box-element bg-dark-green" id="form-wrapper">
            <form method="get" class="form-inline text-white">
              {% for field in filtered_order_statuses.form %}
                <strong>{{field.label}}:</strong>&nbsp{{field}}&nbsp&nbsp
              {% endfor %}
              <input type="submit" class="btn btn-primary" value="Go">
            </form>
          </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            {% if total_order_statuses > 1 %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total: {{total_order_statuses}}</h3>
              </div>
              {% else %}
              <div class="form-group col-md-12">
                <h3 class="form-group text-dark-green">Total: {{total_order_statuses}}</h3>
              </div>
              {% endif %}
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
              <thead>
                <tr>
                  <th>DATE ADDED</th>
                  <th>CUSTOMER</th>
                  <th>ORDER ID</th>
                  <th>OUTLET</th>
                  <th>PRODUCT TYPE(OLD)</th>
                  <th>PRODUCT TYPE(NEW)</th>
                  <th>CYLINDER ID (OLD)</th>
                  <th>QUANTITY</th>
                  <th>TOTAL COST</th>
                  <th>ORDER STATUS</th>
                  <th>CYLINDER(S) ALLOTED</th>
                </tr>
              </thead>
              <tbody>
                {% for order in order_statuses_page_obj %}
                <tr class="">
                  <td>{{order.created}}</td>
                  <td>{{order.order.order.user.first_name}} {{order.order.order.user.last_name}}</td>
                  <td>{{order.order.order.order_Id}}</td>
                  <td>{{order.order.order.outlet}}</td>
                  <td>{{order.product.category.type}} ({{order.product.category.mass}})</td>
                  <td>{% for order in order.cylinder.all %}{{order.category.type}}<br>{% endfor %}</td>
                  <td>{{order.product.product_Id}}</td>
                  <td>{{order.order.quantity}}</td>
                  <td>{{order.order.order.total_cost}}</td>
                  <td>{{order.order_status}}</td>
                  <td>{% for order in order.cylinder.all %}{{order.product_Id}}<br>{% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                {% if order_statuses_page_obj.has_previous %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url order_statuses_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{order_statuses_page_obj.previous_page_number}}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="bg-dark-green page-link" href="{% my_url order_statuses_page_obj.number 'page' request.GET.urlencode %}">{{order_statuses_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                {% if order_statuses_page_obj.has_next %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url order_statuses_page_obj.next_page_number 'page' request.GET.urlencode %}">{{order_statuses_page_obj.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="text-dark-green page-link" href="{% my_url order_statuses_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}
