{% extends 'board_admin.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>Orders</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
{% load home_tags %}
<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-spinner text-dark-green mr-2 fa-1x"></i>Welcome to credits' page, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'qwikadmin_board' %}"><strong>Dashboard</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Payments</strong></li>
			</ol>
		</div>
		<!--page header-->

    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header bg-white">
            <div class="card-title text-dark-green">User Orders' Payments</div>
          </div>

          <div class="col-md-12">
            <div class="box-element bg-dark-green" id="form-wrapper">
              <form method="get" class="form-inline text-white">
                {% for field in filtered_orders.form %}
                  <strong>{{field.label}}:</strong>&nbsp{{field}}&nbsp&nbsp
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Go">
              </form>
            </div>
          </div>

          <div class="card-body">
            <div class="text-center">
              {% if total_orders > 1 %}
                <div class="form-group col-md-12">
                  <h3 class="form-group text-dark-green">Total: {{total_orders}}</h3>
                </div>
                {% else %}
                <div class="form-group col-md-12">
                  <h3 class="form-group text-dark-green">Total: {{total_orders}}</h3>
                </div>
                {% endif %}
            </div>
            <div class="table-responsive ">
              <table class="table card-table table-vcenter text-nowrap">
                <thead class="text-dark-green">
                  <tr class="text-dark-green">
                    <th>DATE/TIME</th>
                    <th>CUSTOMER</th>
                    <th>CUSTOMER ID</th>
                    <th>AMOUNT</th>
                    <th>PAYMENT TYPE</th>
                    <th>PAYMENT OPTION</th>
                    <th>PAYMENT STAGE</th>
                  </tr>
                </thead>
                <tbody class="">
                  {% for order in orders_page_obj %}
                  <tr class="">
                    <td>{{order.created}}</td>
                    <td>{{order.user.first_name}} {{order.order.user.last_name}}</td>
                    <td>{{order.user.username}}</td>
                    <td></td>
                    <td>{{order.payment_type}}</td>
                    <td>{{order.payment_choice}}</td>
                    {% if order.payment3 != None %}
                    <td>3rd</td>
                    {% elif order.payment2 != None %}
                    <td>2nd</td>
                    {% elif order.payment1 != None %}
                    <td>1st</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1" aria-disabled="true">First</a></li>
                  {% if orders_page_obj.has_previous %}
                    <li class="page-item"><a class="text-dark-green page-link" href="{% my_url orders_page_obj.previous_page_number 'page' request.GET.urlencode %}">{{orders_page_obj.previous_page_number}}</a></li>
                  {% endif %}
                  <li class="page-item active" aria-current="page"><a class="bg-dark-green page-link" href="{% my_url orders_page_obj.number 'page' request.GET.urlencode %}">{{orders_page_obj.number}}<span class="sr-only">(current)</span></a></li>
                  {% if orders_page_obj.has_next %}
                    <li class="page-item"><a class="text-dark-green page-link" href="{% my_url orders_page_obj.next_page_number 'page' request.GET.urlencode %}">{{orders_page_obj.next_page_number}}</a></li>
                  {% endif %}
                  <li class="page-item"><a class="text-dark-green page-link" href="{% my_url orders_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content%}
