{% extends 'board.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>My Dashboard</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}

<div class=" app-content">
	<div class="side-app">
    <br>
    {% include 'partials/_alerts.html' %}
		<!--Page Header-->
		<div class="page-header">
			<h4 class="page-title"><i class="fa fa-home text-dark-green mr-2 fa-1x"></i>Welcome to your dashboard, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
			<ol class="breadcrumb bg-white">
				<li class="breadcrumb-item"><a href="{% url 'products:product_list' %}"><strong>Home</strong></a></li>
				<li class="breadcrumb-item active" aria-current="page"><strong>Dashboard</strong></li>
			</ol>
		</div>
		<!--page header-->
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="d-sm-flex m-0">
							<div class="mr-4">
								<a class="btn fw-500 ms-lg-4" href="{% url 'products:product_list' %}">
									{% if user.photograph %}
										<img src="{{ user.photographURL }}" alt="Photograph" class="profile-small">
									{% else %}
										<i class="fa fa-user-circle text-cylinder fa-5x"></i>
									{% endif %}
								</a>
							</div>
							<div class="my-4 my-sm-0">
								<div>
									<h4 class="media-heading font-weight-bold">Hi, {{user.first_name}}!</h4>
									<p class="text-muted">Please update your profile to complete the KYC (Know Your Customer)</p>
								</div>
								<div class="progress progress-sm">
									<div class="progress-bar progress-bar-striped progress-bar-animated bg-cylinder w-60"></div>
								</div>
							</div>
							<div class="ml-auto mb-0">
								<a href="{% url 'qwikcust_profile' %}" class="btn btn-sm btn-cylinder" data-toggle="tooltip" title="Please click to edit your profile" data-original-title="Edit Profile"><i class="fa fa-edit mr-1"></i> <strong>Edit Profile</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-lg-6 col-xl-3">
				<div class="card bg-dark-green">
					<div class="card-body  pb-4">
						<div class="">
							<div class="float-left">
								<span class="text-white">
									<i class="fa fa-wallet fa-4x"></i>
								</span>
							</div>
							<div class="float-right text-right text-white">
								<br>
                <span class="text-lemon-green h3">₦</span><span class="num-font mb-1 counter text-lemon-green h3">{{current_balance|intcomma}}</span>
								<h3 class="mb-1 text-white">QwikWallet</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3">
				<div class="card bg-cylinder">
					<div class="card-body  pb-4">
						<div class="">
							<div class="float-left">
								<span class="text-white">
									<i class="fa fa-sitemap fa-4x"></i>
								</span>
							</div>
							<div class="float-right text-right text-white">
								<br>
                <span class="text-lemon-green h3">₦</span><span class="num-font mb-1 counter text-lemon-green h3">{{points|intcomma}}</span>
								<h3 class="mb-1 text-white">QwikPoint</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3">
				<div class="card bg-purple">
					<div class="card-body  pb-4">
						<div class="">
							<div class="float-left">
								<span class="text-white">
									<i class="fa fa-random fa-4x"></i>
								</span>
							</div>
							<div class="float-right text-right text-white">
								<br>
                <span class="text-lemon-green h3">₦</span><span class="num-font mb-1 counter text-lemon-green h3">{{referrals|intcomma}}</span>
								<h3 class="mb-1 text-white">QwikReferral</h3>

							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
			<div class="card bg-pink">
				<div class="card-body  pb-4">
					<div class="">
						<div class="float-left">
							<span class="text-white">
								<i class="fa fa-money-bill-alt fa-4x"></i>
							</span>
						</div>
						<div class="float-right text-right text-white">
							<br>
              <span class="text-lemon-green h3">₦</span><span class="num-font mb-1 counter text-lemon-green h3">{{first.first|intcomma}}</span>
							<h3 class="mb-1 text-white">QwikFirst</h3>

						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="col-md-12 col-xl-10 col-lg-4">
		<div class="page-header">
			<h6 class="page-title"><i class="fa fa-cubes text-dark-green mr-1"></i><strong>Bonus&#8594;</strong></h6>
				Referral link:<h6><span class="page-header bg-cylinder text-white"> https://qwikgas.ai/{{user.username}}-invites-you-to-join-the-QwikGas-train-and-enjoy-amazing-offers</span></h6>Referred users:<strong class="text-dark-green">{{referrers}}</strong>

		</div>
	</div>

	<div class="col-md-12 col-xl-2 col-lg-4">
		<br>
		<br>
		Share your referral link
		<div class="text-center">
				<a class="" href="https://wa.me/?text=https://qwikgas.ai/{{user.username}}-invites-you-to-join-the-QwikGas-train-and-enjoy-amazing-offers"><i class="fab fa-whatsapp-square text-whatsapp fa-2x"></i></a>
				<a class="" href="https://www.facebook.com/sharer/sharer.php?u=https://qwikgas.ai/{{user.username}}-invites-you-to-join-the-QwikGas-train-and-enjoy-amazing-offers"><i class="fab fa-facebook-square text-facebook fa-2x"></i></a>
				<a class="" href="https://twitter.com/intent/tweet?url=https://qwikgas.ai/{{user.username}}-invites-you-to-join-the-QwikGas-train-and-enjoy-amazing-offers"><i class="fab fa-twitter-square text-twitter fa-2x"></i></a>
		</div>
	</div>

  <div class="row">
    <div class="col-md-6">
      <div id="container" style="width: 100%;">
      <canvas id="qwikcust_board"></canvas>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

      <script>

      $(function () {

        var created_list = {{ created_list|safe }}
        var quantity_list = {{ quantity_list|safe }}

        var $populationChart = $("#qwikcust_board");
        $.ajax({
          url: $populationChart.data("url"),
          success: function (data) {

            var ctx = $populationChart[0].getContext("2d");

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: created_list,
                datasets: [{
                  label: 'Quantity',
                  backgroundColor: '#007541',
                  data: quantity_list,
                }]
              },
              options: {
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: "QUANTITY ORDERED PER DAY"
                }

              }
            });

          }
        });

      });

    </script>
    </div>

    <div class="col-md-6">
      <div id="container" style="width: 100%;">
      <canvas id="qwikcust_board2" data-url="{% url 'qwikcust_board' %}"></canvas>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

      <script>

      $(function () {

        var created_list = {{ created_list|safe }}
        var price_list = {{ price_list|safe }}

        var $populationChart = $("#qwikcust_board2");
        $.ajax({
          url: $populationChart.data("url"),
          success: function (data) {

            var ctx = $populationChart[0].getContext("2d");

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: created_list,
                datasets: [{
                  label: 'Amount (₦)',
                  backgroundColor: '#007541',
                  data: price_list,
                }]
              },
              options: {
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: "AMOUNT"
                }

              }
            });

          }
        });

      });

    </script>
    </div>
  </div>

{% endblock content%}
