{% extends 'board_partner.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  <title>My Dashboard</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
				<div class=" app-content">
					<div class="side-app">
						<!--Page Header-->
						<div class="page-header">
							<h4 class="page-title"><i class="fa fa-home text-dark-green mr-2 fa-1x"></i>Welcome to the QwikPartner dashboard, <strong class="text-dark-green">{{user.first_name}}</strong></h4>
							<ol class="breadcrumb bg-white">
								<li class="breadcrumb-item"><a href="{% url 'qwikpartner_board' %}"><strong>Home</strong></a></li>
								<li class="breadcrumb-item active" aria-current="page"><strong>Dashboard</strong></li>
							</ol>
						</div>
						<!--page header-->
          </div>
        </div>
{% endblock content%}
