{% extends 'base_board.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  <title>Reset Password</title>
  <meta name="description" content="">

{% endblock title %}

{% block content %}
<br>
  <div class="container">
    <div class="card">
      <br>
      {% include 'partials/_alerts.html' %}
      <form method="post" class="form-group col-md-12">
        <div class="card-header bg-cylinder text-white">
          <h4>
            <i class="fas fa-lock"></i> Reset Password</h4>
        </div>
        <br>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="form-group col-md-12 btn btn-cylinder" value="Send me Email">
      </form>
    </div>
  </div>
  <br>

    <div class="page custom-pages">
      <div class="container">
        <div class="row">
          <div class="col  mx-auto">
            <div class="text-center mb-6">
              <img src="../assets/images/brand/logo.png" class="" alt="">
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card-group mb-0">
                  <div class="card p-4">
                    <div class="card-body">
                      <p>Please Enter the Email address registered on your account</p>
                      {% include 'partials/_alerts.html' %}
                      <form method="post">
                        {% csrf_token %}
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-envelope tx-16 lh-0 op-6"></i>
                          </div>
                        </div><!-- input-group-prepend -->

                        {% for field in form %}
                        {{field}}
                        {% endfor %}

                      </div>
                      
                      </form>
                      <div class="row">
                        <div class="col-12">
                          <input type="submit" class="form-group col-md-12 btn btn-cylinder" value="Send me Email">
                        </div>
                      </div>
                      <div class="text-center text-dark mt-3 ">
                        Forget it, <a href="login.html">send me back</a> to the sign in screen.
                      </div>
                    </div>
                  </div>
                  <div class="card  py-5 d-md-down-none login-transparent">
                    <div class="card-body text-center align-items-center">
                      <div>
                        <h2>Forgot password</h2>
                        <p class="text-muted text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, consectetur adipiscing elit consectetur adipiscing elit luctus dui. Mauris magna metus.</p>
                        <a href="login.html" class="btn btn-pink active mt-4">send me back</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content%}
